.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.calc-body {
  width: 340px;
  height: 440px;
  background-color: grey;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* CONFIGURE THE GRID OF BUTTONS */

.grid {
  width: 96%;
  height: 80%;
  background-color: azure;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  gap: 4px;
  padding: 4px;
  box-sizing: border-box;
}

.button {
  background-color: grey;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  user-select: none;
  border: none;
}

button:focus {
  border: none;
  outline: none;
}

.button:hover {
  box-shadow: 0 0 5px rgba(0, 238, 255);
}

.button:active {
  color: rgba(0, 238, 255);
}

#clear,
#zero {
  grid-column: 1 / 3;
}

#equals {
  grid-column: 4 / 5;
  grid-row: 4 / 6;
}

/* HANDLE DISPLAY */

#display {
  height: 20%;
  width: 96%;
  background-color: rgba(0, 238, 255);
}

.subscreen {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 10px;
  box-sizing: border-box;
}

#output {
  background-color: red;
  color: white;
}

#input {
  color: black;
}