@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #234;
}

.calc-body {
  width: 340px;
  height: 460px;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* CONFIGURE THE GRID OF BUTTONS */

.grid {
  width: 96%;
  height: 78%;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  gap: 4px;
  padding: 4px;
  box-sizing: border-box;
}

.button {
  background-color: grey;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  user-select: none;
  border: none;
  box-shadow: 0 0 1px white;
  font-family: 'PT Mono', monospace;
}

button:focus {
  border: none;
  outline: none;
}

.button:hover {
  background-color: #aaa;
}

.button:active {
  background-color: cadetblue;
}

#clear,
#zero {
  grid-column: 1 / 3;
}

#equals {
  grid-column: 4 / 5;
  grid-row: 4 / 6;
}

/* HANDLE DISPLAY */

#display {
  height: 20%;
  width: 96%;
  background-color: black;
  font-family: 'Orbitron', sans-serif;
}

.subscreen {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  box-sizing: border-box;
  word-break: break-all;
  overflow: hidden;
}

#output {
  color: white;
  height: 40%;
  font-size: 0.9rem;
}

#input {
  color: white;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
  height: 60%;
  font-size: 1.2rem;
}

/* SET SPECIFIC BUTTONS STYLES */

#clear {
  background-color: rgb(251, 54, 0);
  color: white;
}

#clear:hover {
  background-color: rgb(251, 113, 0);
}

#clear:active {
  background-color: white;
  color: black;
}